<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация на сайте бизнес центра</title>
    <style type="text/css">
        span {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>


<form action="#" th:action="@{/register}"  th:object="${client}"  method="post" >

    <div><label> Имя : </label><input type="text"  name="name" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Full name error</span></div>

    <div><label> Фамилия: </label>
        <input type="text" th:field="*{surname}" name="surname"/>
    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</span>
    </div>

    <div><label> Отчество: <input type="text" name="patronymic"/> </label></div>
    <div><label> Номер паспорта: <input type="text" name="passportNumber"/> </label></div>
    <div><label> Серия паспорта: <input type="text" name="seriesNumberOfPassport"/></label></div>
    <div><label> Номер телефона: <input type="text" name="phoneNumber"/></label></div>
    <div><label> Логин: <input type="text" name="login"/></label></div>
    <div><label> Почта: <input type="text" th:field="*{email}"  name="email"/></label>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span></div>
    <div><label> Пароль: <input type="password" name="pass"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>

</body>
</html>