<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администрирование</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet"
          th:href="@{main.css}"/>
</head>
<body  class="d-flex flex-column h-100">


<div th:replace="~{fragments/navigation :: navigation}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<div th:class="'container my-4'">



    <form th:object="${client}"  method="post" >

        <div th:class="'row d-flex justify-content-center'">
        <div class="col-mb-6 col-mb-9">

            <div th:class="${#fields.hasErrors('name')} ? 'form-group text-danger' : 'form-group is-valid'">
                <label for="name"> Имя : </label>

                <input type="text" id="name" th:class="${#fields.hasErrors('name')} ? 'form-control text-danger' : 'form-control'"  th:field="*{name}"/>
                <div>
                    <small th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}">
                        <ul>
                            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                        </ul>
                    </small>
                </div>
            </div>

            <div th:class="'form-group is-valid'">
                <label for="patronymic"> Отчество: </label>
                <input th:class="'form-control'" type="text" id="patronymic" th:field="*{patronymic}"/>
            </div>

            <div th:class="${#fields.hasErrors('surname')} ? 'form-group text-danger' : 'form-group is-valid'">

                <label for="surname"> Фамилия: </label>
                <input type="text" th:class="${#fields.hasErrors('surname')} ? 'form-control text-danger' : 'form-control'" th:field="*{surname}" id="surname"/>
                <small th:if="${#fields.hasErrors('surname')}" class="text-danger" th:errors="*{surname}">
                    <ul>
                        <li th:each="err : ${#fields.errors('surname')}" th:text="${err}"></li>
                    </ul>
                </small>
            </div>

            <div th:class="'form-group row mx-md-n5'">

                <div th:class="'form-group col px-md-5'">
                    <div th:class="'p-3 border bg-light'">
                        <label for="seriesNumberOfPassport"> Серия паспорта: </label>

                        <input type="number"
                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                               maxlength = "4"
                               id="seriesNumberOfPassport" th:class="'form-control'" th:field="*{seriesNumberOfPassport}"/>
                    </div>
                </div>


                <div th:class="'form-group col px-md-5'">
                    <div th:class="'p-3 border bg-light'">
                        <label for="passportNumber"> Номер паспорта: </label>
                        <input type="number"
                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                               maxlength = "6"
                               th:class="'form-control'" id="passportNumber" th:field="*{passportNumber}"/>
                    </div>
                </div>

            </div>

            <div th:class="'form-group row mx-md-n5'">

                <div th:class="'form-group col px-md-5'">
                    <div>
                        <label for="organization"> Организация: </label>
                        <input type="text" id="organization" th:class="'form-control'" th:field="*{organization}"/>
                    </div>
                </div>


                <div th:class="'form-group col px-md-5'">
                    <div>
                        <label for="activity"> Деятельность: </label>
                        <input type="text" th:class="'form-control'" id="activity" th:field="*{activity}"/>
                    </div>
                </div>

            </div>

            <div th:class="'form-group'">
                <label for="phoneNumber"> Номер телефона:</label> <input type="text" th:class="'form-control'" id="phoneNumber" th:field="*{phoneNumber}"/>
            </div>

            <div th:class="${#fields.hasErrors('email')} ? 'form-group text-danger' : 'form-group is-valid'">
                <label for="email"> Почта : </label>

                <input type="text" id="email" th:class="${#fields.hasErrors('email')} ? 'form-control text-danger' : 'form-control'"  th:field="*{email}"/>
                <div>
                    <small th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}">
                        <ul>
                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                        </ul>

                    </small>

                    <small class="text-danger">
                        <div th:text="${message}"></div>
                    </small>
                </div>
            </div>


            <div th:class="'form-group'" th:if="${userRole == 'ADMIN'}">
                <label for="role"> Роль:</label>

                <select class="browser-default custom-select" id="role" th:name="role" >
                    <option th:each="role : ${roles}" th:value="${role}" th:text="${role.toString()}" th:selected="${role==client.getRole()}"></option>
                </select>

            </div>


            <div th:if="${client['new']}" th:class="${#fields.hasErrors('pass')} ? 'form-group text-danger' : 'form-group is-valid'">
                <label for="pass"> Пароль: </label>

                <input type="password" id="pass" th:class="${#fields.hasErrors('pass')} ? 'form-control text-danger' : 'form-control'"  th:field="*{pass}"/>
                <div>
                    <small th:if="${#fields.hasErrors('pass')}" class="text-danger" th:errors="*{pass}">
                        <ul>
                            <li th:each="err : ${#fields.errors('pass')}" th:text="${err}"></li>
                        </ul>
                    </small>
                </div>
            </div>



            <div th:class="'form-group'">

                <button
                        th:with="text=${client['new']} ? 'Добавить пользователя' : 'Изменить'"
                        class="btn btn-success" type="submit" th:text="${text}">Добавить пользователя</button>

                <a class="btn btn-danger" th:if="!${client['new']}" th:href="@{'/users/'+${client.id}+'/delete'}">Удалить пользователя </a>

            </div>

        </div>
        </div>
    </form>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>