<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="navigation">
    <a class="navbar-brand" th:href="@{/areas}">Список площадей</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li th:class="${activePage == 'applications'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/applications}">Список ваших заявок <span class="sr-only">(current)</span></a>
            </li>

            <li  th:if="${userRole != 'NONE'}" th:class="${activePage == 'profile'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/profile}">Ваш профиль</a>
            </li>

            <li th:if="${userRole == 'NONE'}" th:class="${activePage == 'login'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/login}">Авторизация</a>
            </li>

            <li th:if="${userRole == 'NONE'}" th:class="${activePage == 'reg'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/register}">Регистрация</a>
            </li>

            <li th:if="${userRole == 'MANAGER'}" th:class="${activePage == 'addArea'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{'/areas/add'}">Добавить площадь</a>
            </li>

            <li th:if="${userRole != 'NONE'}" th:class="'nav-item'">
                <form th:action="@{/logout}" method="post">
                    <input th:class="'btn btn-link nav-link'" type="submit"  value="Выход"/>
                </form>
            </li>



        </ul>
    </div>
</nav>
</body>
</html>