<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Client page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet"
            th:href="@{main.css}"/>

</head>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navigation :: navigation}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<p>Hello client</p>
<p th:text="${user_name}"></p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
    <h2 th:text="'Офисы бизнес-центра'">Офисы бизнес-центра</h2>

<div th:switch="${userRole}">
    <div th:case="'MANAGER'">
        <div ><a href="#" th:href="@{'/areas/add'}">Добавить помещение</a></div>
    </div>
</div>



<form id="filter-form" name="filter-form" method="post" >
    Название: <input type="text" th:name="areaName"  th:value="${areaName}" name="areaName"  id="areaName" size="50" /><br>
    &nbsp;
    Площадь от: <input type="number" step="0.01" name="areaMin"  th:value="${areaMin}" th:name="areaMin" id="areaMin" size="50"/>
    Площадь до: <input type="number" step="0.01" name="areaMax"  th:value="${areaMax}"  th:name="areaMax" id="areaMax" size="50"/><br>
    &nbsp;
    Цена от: <input type="number" step="0.01"  th:value="${priceMin}"  th:name="priceMin" id="priceMin" size="50"  />
    &nbsp;
    Цена до: <input type="number" step="0.01" th:value="${priceMax}"   th:name="priceMax" id="priceMax" size="50"  /><br>

    Этаж: <select class="form-control" th:name="floor"  id="dropOperator">
    <option th:value="-1">Не выбран</option>
    <option th:each="floor : ${floors}" th:value="${floor}" th:text="${floor}" th:selected="${floor==floorAttr}"></option>

</select><br>
    Рабочих мест до: <input type="number" th:name="workplace" th:value="${workplace}" id="workPlace" size="50"  /><br>
    &nbsp;
    <input type="submit" value="Поиск"  />
    &nbsp;
    <input type="button" value="Очистить" id="btnClear" onclick="clearSearch()" />
</form>


    <table>
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Площадь (м^2)</th>
            <th>Цена/месяц</th>
            <th>Этаж</th>
            <th>Количество рабочих мест</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prem : ${premises}">
            <td><a href="#"  th:text="${prem.name}" th:href="@{'/areas/'+${prem.id}+'/show'}">Название</a></td>
            <td th:text="${prem.description}">Описание</td>
            <td th:text="${prem.area}">Площадь</td>
            <td th:text="${prem.price}">Цена</td>
            <td th:text="${prem.floor}">Этаж</td>
            <td th:text="${prem.workplaces}">Раб.мест</td>
        </tr>
        </tbody>
    </table>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>